@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,300&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 60em;
  margin: 0 auto;
}

/**************************************** 
 *                 HEADER
 ***************************************/

.header {
  background-color: #1f2937;
  color: #e5e7eb;
}

.header__logo {
  margin-right: auto;
  font-size: 1.5em;
  font-weight: 900;
  color: #f9faf8;
}

.nav__menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin: 0;
  padding: 2em 0;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  font-size: 1.125em;
}

.nav__link:hover {
  color: #3882f6;
}

/**************************************** 
 *             HERO SECTION
 ***************************************/

.hero {
  background-color: #1f2937;
  color: #e5e7eb;
}

.hero__content-wrapper {
  display: flex;
  gap: 2em;
  padding: 5em 0 7em;
}

.hero__text-wrapper,
.hero__image-wrapper {
  flex: 1;
}

.hero__heading {
  font-size: 3em;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.hero__description {
  font-size: 1.125em;
  margin-top: 0.5em;
}

.signup-button {
  color: #f9faf8;
  background-color: #3882f6;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  padding: 0.5em 2em;
  border-radius: 0.5em;
  display: inline-block;
  white-space: nowrap;
}

.signup-button:hover {
  background-color: #1c70f7;
}

.hero__image {
  width: 100%;
  height: auto;
}

/**************************************** 
 *             INFO SECTION
 ***************************************/

.info {
  padding: 1em 0 6em;
  color: #1f2937;
}

.info__heading {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 1.5em;
}

.box-group {
  display: flex;
  justify-content: space-between;
  gap: 3em;
  width: 80%;
  margin: 0 auto;
}

.box {
  text-align: center;
}

.box__image {
  border-radius: 1em;
  width: 100%;
  height: auto;
}

/**************************************** 
 *             QUOTE SECTION
 ***************************************/

.quote-section {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 5em 0 6em;
}

.quote-wrapper {
  width: 80%;
  margin: 0 auto;
}

.quote {
  margin: 0;
  text-align: left;
}

.quote__text {
  font-size: 2.25em;
  font-weight: 300;
  font-style: italic;
}

.quote__source {
  text-align: right;
  font-weight: 900;
}

/**************************************** 
 *        CALL TO ACTION SECTION
 ***************************************/

.action {
  padding: 6em 0;
}

.action__content-wrapper {
  display: flex;
  align-items: center;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 2em 5em;
  border-radius: 1em;
}

.action__heading {
  margin-bottom: 0;
  color: #f9faf8;
}

.action__description {
  margin-top: 0.25em;
  width: 80%;
}

.signup-button--bordered {
  border: 0.125em solid #f9faf8;
}

/**************************************** 
 *             FOOTER SECTION
 ***************************************/

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 2em 0;
}
